:root {
  --background-color: #131722;
  --second-background-color: #262b3a;
  --third-background-color: #0f131d;
  --callout-color: #24baef;
  --second-callout-color: #2582a9;
  --text-color: #ffffff;
  --second-text-color: #808b90;
  --nav-text-color: #717f8c;
  --callout-text-color: #24baef;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* ------------------------------------- */

.featured-video-container {
  width: 100%;
  height: 600px;
  background-color: var(--second-background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.featured-video-container video {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.featured-video-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background-color: rgb(38, 43, 58, 0.7);
  z-index: 1;
}

.featured-video-title {
  width: 500px;
  height: 300px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.featured-video-title h1 {
  font-weight: 700;
}

.featured-video-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.featured-video-buttons {
  width: 178px;
  height: 62px;
  border: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: var(--text-color);
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

.featured-video-buttons.primary {
  background-color: var(--callout-color);
  border: none;
}

.featured-video-container img {
  margin-right: 15%;
  padding-right: 15%;
  opacity: 1;
  transition: opacity 0.5s linear;
  z-index: 1;
}

/* ------------------------------------- */

.movies-menu-container {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15%;
  margin-top: 50px;
}

.movies-menu-container .menu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 500px;
  margin-bottom: 25px;
}

.menu-container .menu-item {
  margin-right: 20px;
  color: var(--nav-text-color);
}

.menu-item.selected {
  color: var(--callout-color);
  font-weight: 700;
}

.menu-item.separator {
  color: var(--second-background-color);
}

.movies-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.movie .movie-info .movie-genre,
.movie .movie-info .movie-name {
  margin: 3px 0;
  padding: 0 0;
}

.movie .movie-info .movie-genre {
  margin: 3px 0;
  padding: 0 0;
  color: var(--nav-text-color);
  font-size: 13px;
}

.movie .movie-info .movie-name {
  margin: 3px 0;
  padding: 0 0;
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
}

.movie {
  padding-top: 10px;
}

.featured {
  position: absolute;
  top: 0px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  background-color: var(--callout-color);
  border-radius: 5px;
}

.movies-carousel.r {
  padding-top: 60px;
  background-color: var(--third-background-color);
}

.movies-carousel .movies-carousel-header {
  width: 250px;
}

.movies-carousel .movies-carousel-header .header-title {
  font-weight: 700;
  font-size: 26px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.movies-carousel .movies-carousel-header .movies-carousel-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.movies-carousel .movies-carousel-header .line {
  border-top: 1px solid var(--second-background-color);
  height: 2px;
  width: 100%;
  margin-top: 130px;
}

.movies-carousel .movies-carousel-header .view {
  font-weight: 500;
  font-size: 12px;
  color: var(--nav-text-color);
}

.carousel-container {
  width: 100%;
}

.carousel-button-group {
  position: relative;
  right: -45px;
  top: 170px;
  display: flex;
  width: 40px;
  height: 40px;
}

.carousel-button-group img {
  margin-right: 10px;
}

.carousel-button-group-l {
  position: absolute;
  left: 15%;
  top: 1310px;
  display: flex;
  width: 40px;
  height: 40px;
}

.carousel-button-group-l img {
  margin-right: 10px;
}

.carousel-item img {
  width: 164px;
  height: 240px;
  object-fit: cover;
}

.hide {
  opacity: 0 !important;
}

@media (max-width: 800px) {
  .featured-video-container img {
    display: none;
  }
  
  .featured-video-title {
    width: 80%;
    margin: 10%;
  }

  .carousel-button-group {
    position: absolute;
    left: 40%;
    top: 1060px;
    display: flex;
    width: 40px;
    height: 40px;
  }

  .carousel-button-group-l {
    position: absolute;
    left: 40%;
    top: 1510px;
    padding-bottom: 20px;
    display: flex;
    width: 40px;
    height: 40px;
  }

  .movies-carousel {
    height: 330px;
    flex-direction: column;
    justify-content: center;
  }

  .movies-carousel-r {
    height: 330px;
  }

  .movies-carousel .movies-carousel-header .line {
    display: none;
  }
}
